<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PokemonTest" parallel="methods">
    <test name="ChromeTest">
        <classes>
            <class name="com.blibli.future.CucumberRunner">
            </class>
        </classes>
    </test>
</suite>



